body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	margin: 0;
}

.center {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	margin: 0;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.img {
	width: 100%;
	border-radius: 12px, 12px, 0, 0;
}

.item {
	width: 15vw;
	display: flex;
	flex-direction: column;
	border-radius: 12px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
	align-items: center;
	justify-content: center;
	overflow: hidden;
} 

.description-text {
	margin: 1em;
	font-size: 1.5em;
}

.btn {
	background-color: cornflowerblue;
	border: none;
	color: white;
	padding: 1em;
	font-size: 2em;
	cursor: pointer;
	margin-top: 1em;
}

.button:hover {
	background-color: grey;
}

label {
	display: none;
}
